name: Docker Image CI

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - ".github/**"
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 6

      - name: Print short SHA
        run: echo "${{ steps.short-sha.outputs.sha }}"

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push images
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: |
            leto1210/docker-dnsmasq:${{ steps.short-sha.outputs.sha }}
            leto1210/docker-dnsmasq:latest
