---
name: Trivy scan V2
on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - Docker Image CI
    types:
      - completed
permissions:
  contents: read
  packages: write
jobs:
  build:
    permissions:
      contents: read
      security-events: write
      packages: write
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: benjlevesque/short-sha@v3.0
        id: short-sha
        with:
          length: 6
      - run: echo $SHA
        env:
          SHA: ${{ steps.short-sha.outputs.sha }}
      - run: echo $SHA
        env:
          SHA: ${{ env.SHA }}
      - name: Install ORAS
        id: oras
        uses: oras-project/setup-oras@v1.1.0
      - name: Authenticate to GHCR
        id: ghcr
        shell: bash
        run: |
          oras login ghcr.io \
            -u ${{ github.actor }} \
            -p ${{ github.token }}
      - name: Pull Trivy DBs from GHCR
        id: pull
        shell: bash
        run: |
          oras pull ghcr.io/leto1210/docker-dnsmasq/trivy-db:2
          oras pull ghcr.io/leto1210/docker-dnsmasq/trivy-java-db:1
      - name: Scan Container Image
        id: scan
        uses: aquasecurity/trivy-action@0.28.0
        env:
          TRIVY_DB_REPOSITORY: ghcr.io/leto1210/docker-dnsmasq/trivy-db,public.ecr.aws/aquasecurity/trivy-db,ghcr.io/aquasecurity/trivy-db
          TRIVY_JAVA_DB_REPOSITORY: ghcr.io/leto1210/docker-dnsmasq/trivy-java-db,public.ecr.aws/aquasecurity/trivy-java-db,ghcr.io/aquasecurity/trivy-java-db
          TRIVY_USERNAME: ${{ github.actor }}
          TRIVY_PASSWORD: ${{ github.token }}
        with:
          cache: true
          exit-code: 0
          ignore-unfixed: true
          image-ref: docker.io/leto1210/docker-dnsmasq:${{ env.sha }}
          format: 'sarif'
          output: 'docker-dnsmasq_trivy-results.sarif'
          severity: 'CRITICAL,HIGH'
      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v3
        if: always()
        with:
          sarif_file: 'docker-dnsmasq_trivy-results.sarif'
